.dashboardContainer {
  display: flex;
  height: 100vh; /* 화면 전체 높이 설정 */
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.logoutButton {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.logoutButton:hover {
  background-color: #c9302c;
}

.sidebar {
  width: 200px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 84vh; /* 사이드바를 화면 높이에 맞춤 */
}

.sidebar button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
}

.sidebar button:hover {
  background-color: #e0e0e0;
}

.active {
  font-weight: bold;
  color: #007bff;
}

.mainContent {
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* 콘텐츠가 길어질 경우 스크롤 가능 */
}

.sidehome {
  display: flex;
}

.expireTime {
  font-weight: bold;
  color: #ff4500; /* 오렌지 색상으로 강조 */
  padding: 0.4em 0.8em;
  border-radius: 5px;
  margin-left: 10px;
  display: inline-block;
  font-size: 1em;
  display: flex; /* 플렉스 레이아웃 사용 */
  align-items: center; /* 수직 중앙 정렬 */
}

.timeIcon {
  margin-right: 5px;
  color: #ff4500; /* 아이콘 색상 */
}

.userInfo {
  display: flex;
  align-items: center;
}
