.refundSummaryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.refundSummaryCard {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.refundCreator {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.refundCount {
  font-size: 14px;
  color: #333;
}

.exportButton {
  background-color: #4caf50; /* 녹색 배경 */
  color: white; /* 흰색 텍스트 */
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px; /* 모서리 둥글게 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 */
  transition: background-color 0.3s ease; /* 부드러운 색상 전환 */
  margin-left: 30px;
}

.exportButton:hover {
  background-color: #45a049; /* 마우스 오버 시 색상 */
}
